.footer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    &__wrapper {
        width: 100%;
        height: 100vh;
        text-align: center;
    }

    &__container {
        width: 50rem;
        max-width: 90vw;
        text-align: center;
    }

    &__image {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        display: inline-block;
    }

    &__title {
        font-size: 5rem;
        margin: 2rem 0 1rem;
        color: $color-green;
    }

    &__text {
        font-size: 1.8rem;
        max-width: 100%;
        width: 35rem;
        display: inline-block;
        margin: 0;
        font-weight: 200;
    }

    &__button {
        position: relative;
        margin: 3rem auto 0;
        display: inline-block;
        padding: 1rem 2.5rem;
        border-radius: 2.2rem;
        font-size: 1.6rem;
        font-weight: 100;
        background-color: $color-green;
        color: $color-white;
        appearance: none;
        border: none;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        outline: none;
        transition: background-color 0.2s ease, color 0.2s ease;
        text-decoration: none;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0.4rem double $color-green;
            z-index: -1;
            border-radius: inherit;
            opacity: 0;
            transform: scale3d(0.6, 0.6, 1);
            transition: transform 0.3s, opacity 0.3s;
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        }

        &:hover,
        &:focus {
            background-color: transparent;
            color: $color-green;

            &:before {
                transform: scale3d(1, 1, 1);
                opacity: 1;
            }
        }
    }
}
